:root{
    --csik:1px solid black
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: black;

}

body{
    padding-inline: 36px;
    padding-block: 36px;
}

header{
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: var(--csik);
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: fit-content;
}

header div{
    font-size: 32px;
    font-weight: 600;
    padding: 10px 10px 10px 20px;
    border-right: var(--csik);
}

nav a{
    text-decoration: none;
    text-align: center;
    padding: 20px 8px 8px 8px
}
/* nav a, header div{
    border-bottom: var(--csik);
} */

section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

section div{
    /* background-image: url(https://jooedvarddeveloper.github.io/blackwhite/images/falling.svg); */
    /* background-image: url(pictures/falling.svg); */
    padding-block: 32px;
}

section div a{
    text-decoration: none;
    width: 250px;
}

.kis-kepek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


@media screen and (max-width:600px){
    header, nav{
        grid-template-columns: 1fr;
        gap: 3px;
        /* text-align: left; */
        padding-block: 3px;
    }
    header div, 
    nav a{
        text-align: left;
        /* padding-block: 5px;
        padding-left: 5px; */
        padding: 0;
    }
    header div{
        border: none;
        /* padding-block: 20px; */
        border-bottom: var(--csik);
        padding-bottom: 10px;
    }
}