:root{
    --csik:1px solid black
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: black;

}

body{
    padding-inline: 36px;
    padding-block: 36px;
}

header{
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: var(--csik);
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: fit-content;
}

header div{
    font-size: 32px;
    font-weight: 600;
    padding: 10px 10px 10px 20px;
    border-right: var(--csik);
}

nav a{
    text-decoration: none;
    text-align: center;
    padding: 20px 8px 8px 8px
}
/* nav a, header div{
    border-bottom: var(--csik);
} */

section.felso{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

section.felso div{
    /* background-image: url(https://jooedvarddeveloper.github.io/blackwhite/images/falling.svg); */
    /* background-image: url(pictures/falling.svg); */
    padding-block: 32px;
}

section.felso div a{
    text-decoration: none;
    width: 250px;
}

section.felso div h2{
    letter-spacing: 10px;
    width: 100%;
    text-align: center;
}

.kis-kepek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    max-width: 310px;
    margin: auto;
}

.kis-kepek span{
    border: var(--csik);
    padding: 0;
    text-align: center;
    /* padding-block: 40px; */
    width: 100px;
    height: 100px;
    /* font-size: 48px; */
    text-align: center;
    padding-block: 20px;
    vertical-align: middle;
}

div.kis-kepek :nth-child(1),
div.kis-kepek :nth-child(2){
    font-size: 48px;
    /* text-align: center; */
    /* vertical-align: middle; */
}

div.kis-kepek :nth-child(3){
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

/* .kis-kepek:nth-child(1),
.kis-kepek:nth-child(2){
    width: 200px;
    height: 200px;
} */

section.also{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


@media screen and (max-width:600px){
    header, nav{
        grid-template-columns: 1fr;
        gap: 3px;
        /* text-align: left; */
        padding-block: 3px;
    }
    header div, 
    nav a{
        text-align: left;
        /* padding-block: 5px;
        padding-left: 5px; */
        padding: 0;
    }
    header div{
        border: none;
        /* padding-block: 20px; */
        border-bottom: var(--csik);
        padding-bottom: 10px;
    }
}